/* PostgreSQL config
db {
    jdbcDriver = 'org.postgresql.Driver'
    jdbcConnectionString = 'jdbc:postgresql:transmart'
    username = 'postgres'
    password = 'postgres'
}
/*/

// Oracle config
db {
    jdbcConnectionString = 'jdbc:oracle:thin:@localhost:1521:ORCL'
    username = 'tm_dataloader'
    password = 'tm_dataloader'
    jdbcDriver = 'oracle.jdbc.OracleDriver'
}
//*/
